<ion-header>
    <ion-toolbar>
        <ion-title>tabs</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-tabs>

        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="home">
                <ion-icon name="home"></ion-icon>
                <ion-label>Home</ion-label>
            </ion-tab-button>
    
            <ion-tab-button tab="categories">
                <ion-icon name="compass-outline"></ion-icon>
                <ion-label>Categories</ion-label>
            </ion-tab-button>
    
            <ion-tab-button tab="basket">
                <ion-icon name="basket"></ion-icon>
                <ion-label>Basket</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="settings">
                <ion-icon name="settings"></ion-icon>
                <ion-label>Settings</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    
    </ion-tabs>

</ion-content>