<ion-header>
    <ion-toolbar>
        <ion-title>tabs</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-tabs>

        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="home">
                <ion-icon name="triangle"></ion-icon>
                <ion-label>Home</ion-label>
            </ion-tab-button>
    
            <ion-tab-button tab="basket">
                <ion-icon name="ellipse"></ion-icon>
                <ion-label>Basket</ion-label>
            </ion-tab-button>
    
            <ion-tab-button tab="favorite">
                <ion-icon name="square"></ion-icon>
                <ion-label>Favorite</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="account">
                <ion-icon name="square"></ion-icon>
                <ion-label>Account</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="settings">
                <ion-icon name="square"></ion-icon>
                <ion-label>Settings</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    
    </ion-tabs>

</ion-content>