<ion-header>
    <ion-toolbar>
        <ion-title>Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <app-explore-container name="Settings Works !"></app-explore-container> -->

    <ion-item detail>
        <ion-icon name="person"></ion-icon>
        <ion-label>Personal Data</ion-label>
    </ion-item>
    <ion-item detail>
        <ion-icon name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
    </ion-item>
    <ion-item detail>
        <ion-icon name="heart"></ion-icon>
        <ion-label>Favorites</ion-label>
    </ion-item>
    <!-- <ion-item detail routerLink="/support"> -->
    <ion-item detail>
        <ion-icon name="headset"></ion-icon>
        <ion-label>Supports</ion-label>
    </ion-item>

</ion-content>